flows_LAPTOP-QKES87G6.json
[{"id":"22e4fe40.bede12","type":"tab","label":"Remplissage Database","disabled":true,"info":""},{"id":"a7560610.161838","type":"tab","label":"WorldMap","disabled":false,"info":""},{"id":"cd173467.5fa4c8","type":"tab","label":"Rercherche Badge","disabled":true,"info":""},{"id":"f624109a.791cc","type":"tab","label":"API","disabled":true,"info":""},{"id":"50ccf8e7.ffc488","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d8f99284.f2a5a","type":"tab","label":"Capteurs_Sophia","disabled":false,"info":""},{"id":"c4965cc0.7673a","type":"tab","label":"Coordonnées satellites 2","disabled":false,"info":""},{"id":"55276915.b6b808","type":"tab","label":"Chart","disabled":false,"info":""},{"id":"d1002e51.d30b9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"34aafdca.9c2a62","type":"subflow","name":"DB Test","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"93e81b0f.94eea8","type":"mqtt-broker","z":"","name":"mqtt from TTn","broker":"eu.thethings.network","port":"5","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac69b075.a9d24","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Sensor_IOT","name":"Sensor_iOT","usetls":false,"tls":""},{"id":"4b060ad2.62fbf4","type":"ttn app","z":"","appId":"ers4_poste8","accessKey":"ttn-account-v2.Uxnix2aYLL3gskyjJgpp1raDfKG7yIn8o_kgclNRyQw","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"dc22eaee.c84498","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"GPS","name":"influxdb-GPS","usetls":false,"tls":""},{"id":"e933cc2b.454de","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ERS42","name":"","usetls":false,"tls":""},{"id":"60748344.90604c","type":"ttn app","z":"","appId":"valrose","accessKey":"ttn-account-v2.gg2ImosZ1sYrrHkwZwyy9FtuSeFD_WSMT0-P3WvBORA","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"12e19ba6.6eb284","type":"websocket-listener","z":"","path":"https://celestrak.com/satcat/tle.php?CATNR=44109","wholemsg":"false"},{"id":"291f3c2b.7c6904","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"ERS4","name":"","usetls":false,"tls":""},{"id":"749238df.b61e68","type":"websocket-client","z":"","path":"https://www.space-track.org/basicspacedata/query/class/omm/NORAD_CAT_ID/44109/orderby/EPOCH%20desc/limit/1/format/xml/emptyresult/show","tls":"","wholemsg":"false"},{"id":"f9fcd79e.6f7c98","type":"ttn app","z":"","appId":"ph0wn","accessKey":"ttn-account-v2.yTbE4m7S7rR7vDrRK7fEBtaL4GTN5ucffn02NT2VgC8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"16de6b60.76a4a5","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lacuna","name":"","usetls":false,"tls":""},{"id":"89eee6e3.2d9ff8","type":"ttn app","z":"","appId":"ph0wn","accessKey":"ttn-account-v2.yTbE4m7S7rR7vDrRK7fEBtaL4GTN5ucffn02NT2VgC8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"e1b9cc71.55c3b","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lacuna","name":"","usetls":false,"tls":""},{"id":"174efa6f.eb1176","type":"ui_tab","z":"","name":"Chart_v","icon":"dashboard","disabled":false,"hidden":false},{"id":"71d71016.b48c","type":"ui_group","z":"","name":"Input","tab":"174efa6f.eb1176","order":1,"disp":true,"width":"6","collapse":false},{"id":"c8a73cae.651d6","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"368d0d28.0089b2","type":"ui_tab","z":"","name":"Chart_v","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf928aa.09eed78","type":"ui_group","z":"","name":"Print","tab":"174efa6f.eb1176","order":2,"disp":true,"width":"25","collapse":false},{"id":"5f205241.6e879c","type":"ui_group","z":"","name":"Charts","tab":"214b671.01fdb98","order":2,"disp":false,"width":"6"},{"id":"624ad29c.b92bcc","type":"ui_group","z":"","name":"Inputs","tab":"214b671.01fdb98","order":1,"disp":false,"width":"6"},{"id":"585c70cb.1581","type":"ui_group","z":"","name":"Group 3","tab":"214b671.01fdb98","order":3,"disp":false,"width":"6"},{"id":"214b671.01fdb98","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"bf9ea6cf.7977f8","type":"ui_group","z":"","name":"Charts","tab":"3f2c9f21.7f0c5","order":2,"disp":false,"width":"6"},{"id":"d80acedb.d3c8","type":"ui_group","z":"","name":"Inputs","tab":"3f2c9f21.7f0c5","order":1,"disp":false,"width":"6"},{"id":"77791a22.630a74","type":"ui_group","z":"","name":"Group 3","tab":"3f2c9f21.7f0c5","order":3,"disp":false,"width":"6"},{"id":"3f2c9f21.7f0c5","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"401de641.5da8e8","type":"ui_group","z":"","name":"Charts","tab":"4b1baadb.d5e174","order":2,"disp":false,"width":"6"},{"id":"ceb6bbfd.4d9318","type":"ui_group","z":"","name":"Inputs","tab":"4b1baadb.d5e174","order":1,"disp":false,"width":"6"},{"id":"e83d7ccd.448ea","type":"ui_group","z":"","name":"Group 3","tab":"4b1baadb.d5e174","order":3,"disp":false,"width":"6"},{"id":"4b1baadb.d5e174","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"461e59c1.0dda98","type":"ui_group","z":"","name":"Charts","tab":"7677e112.23f1a","order":2,"disp":false,"width":"6"},{"id":"215691cc.dc384e","type":"ui_group","z":"","name":"Inputs","tab":"7677e112.23f1a","order":1,"disp":false,"width":"6","collapse":false},{"id":"dfec3b71.699568","type":"ui_group","z":"","name":"Group 3","tab":"7677e112.23f1a","order":3,"disp":false,"width":"6"},{"id":"7677e112.23f1a","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6ba4a95b.607038","type":"ui_group","z":"","name":"Charts","tab":"f37e61ba.5797e","order":2,"disp":false,"width":"6","collapse":false},{"id":"71bd0f2e.f499e","type":"ui_group","z":"","name":"Inputs","tab":"f37e61ba.5797e","order":1,"disp":false,"width":"6"},{"id":"5fe6f28c.9eccdc","type":"ui_group","z":"","name":"Group 3","tab":"f37e61ba.5797e","order":3,"disp":false,"width":"6"},{"id":"f37e61ba.5797e","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"57271881.94af08","type":"ui_group","z":"","name":"Charts","tab":"69b67819.11e928","order":2,"disp":false,"width":"6"},{"id":"5ff60162.f3356","type":"ui_group","z":"","name":"Inputs","tab":"69b67819.11e928","order":1,"disp":false,"width":"6"},{"id":"3a7d8466.1eb66c","type":"ui_group","z":"","name":"Group 3","tab":"69b67819.11e928","order":3,"disp":false,"width":"6"},{"id":"69b67819.11e928","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"b1d97bca.8213c8","type":"influxdb out","z":"22e4fe40.bede12","influxdb":"291f3c2b.7c6904","name":"Demo_TP","measurement":"demo_tp","precision":"","retentionPolicy":"","x":660,"y":220,"wires":[]},{"id":"382a35e8.4eb2ca","type":"ttn uplink","z":"22e4fe40.bede12","name":"","app":"4b060ad2.62fbf4","dev_id":"poste8","field":"","x":80,"y":280,"wires":[["8cf4d741.391708","6c9ca8c3.8a5498","b9f7b417.0bd278"]]},{"id":"56a4e41c.51f53c","type":"ttn downlink","z":"22e4fe40.bede12","name":"","app":"4b060ad2.62fbf4","dev_id":"poste8","port":"","confirmed":false,"schedule":"replace","x":810,"y":580,"wires":[]},{"id":"8cf4d741.391708","type":"function","z":"22e4fe40.bede12","name":"fonction temp","func":"RFID = msg.payload.RFID;\nhumidity = msg.payload.humidity;\ntemperature = msg.payload.temperature;\nlatitude = msg.payload.latitude;\nlongitude = msg.payload.longitude;\naltitude = msg.payload.altitude;\nmsg.payload = \"\";\nmsg.payload = {\n    \"lat\" : latitude,\n    \"lon\" : longitude,\n    \"altitude\" : altitude,\n    \"temperature\" : temperature,\n    \"humidity\" : humidity,\n    \"RFID\" : RFID\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["b1d97bca.8213c8"]]},{"id":"6c9ca8c3.8a5498","type":"function","z":"22e4fe40.bede12","name":"fonction gps","func":"RFID = msg.payload.RFID;\nhumidity = msg.payload.humidity;\ntemperature = msg.payload.temperature;\nlatitude = msg.payload.latitude;\nlongitude = msg.payload.longitude;\naltitude = msg.payload.altitude;\nmsg.payload = \"\";\nmsg.payload = {\n    \"lat\" : latitude,\n    \"lon\" : longitude,\n    \"altitude\" : altitude\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["690fe874.3be8a8"]]},{"id":"7cb4258b.4ec90c","type":"function","z":"22e4fe40.bede12","name":"fonction RFID","func":"RFID = msg.payload.RFID;\nhumidity = msg.payload.humidity;\ntemperature = msg.payload.temperature;\nlatitude = msg.payload.latitude;\nlongitude = msg.payload.longitude;\naltitude = msg.payload.altitude;\nmsg.payload = \"\";\nmsg.payload = RFID;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["d10b6c87.cd918"]]},{"id":"d10b6c87.cd918","type":"function","z":"22e4fe40.bede12","name":"","func":"\nif(msg.payload == \"aaaaaaaa\"){\nmsg.payload = \"01\";\n    \n       \n        \n    }else{\n        msg.payload = \"00\"\n        \n    \n    }\n    msg.port = 8;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":580,"wires":[["56a4e41c.51f53c","212df040.0ef7f"]]},{"id":"212df040.0ef7f","type":"debug","z":"22e4fe40.bede12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":520,"wires":[]},{"id":"b9f7b417.0bd278","type":"debug","z":"22e4fe40.bede12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":180,"wires":[]},{"id":"690fe874.3be8a8","type":"debug","z":"22e4fe40.bede12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"84378503.d343d8","type":"inject","z":"a7560610.161838","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["ea505dbf.11a08"]]},{"id":"ea505dbf.11a08","type":"function","z":"a7560610.161838","name":"SQL Select","func":"\nmsg.query=\"SELECT * FROM ERS42\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["15c6ccf8.2c7fb3"]]},{"id":"15c6ccf8.2c7fb3","type":"influxdb in","z":"a7560610.161838","influxdb":"e933cc2b.454de","name":"GPS_Manuel","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":570,"y":220,"wires":[["ba43f960.cf36a8"]]},{"id":"ba43f960.cf36a8","type":"function","z":"a7560610.161838","name":"","func":"msg.index=0;\nmsg.tab_RFID=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["eac7149e.9f9e88"]]},{"id":"eac7149e.9f9e88","type":"function","z":"a7560610.161838","name":"Compute device List","func":"msg.payload = {};\n\nif(msg.index<msg.tab_RFID.length)\n{\n    msg.query=\"select * from demo_tp where RFID = '\" +msg.tab_RFID[msg.index].RFID+\"'order by time DESC limit 1\"\n    msg.index = msg.index+1;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["96f6fd4a.07ba7"]]},{"id":"96f6fd4a.07ba7","type":"influxdb in","z":"a7560610.161838","influxdb":"291f3c2b.7c6904","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":640,"y":340,"wires":[["8653e30e.2dcc6"]]},{"id":"7cf050e3.452fd","type":"function","z":"cd173467.5fa4c8","name":"SQL Select","func":"msg.query=\"SELECT * FROM ERS42 WHERE RFID= '\"+msg.payload.RFID+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["ed83b0a3.fe146"]]},{"id":"ed83b0a3.fe146","type":"influxdb in","z":"cd173467.5fa4c8","influxdb":"e933cc2b.454de","name":"GPS_Manuel","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":220,"wires":[["85077229.64ae6","f4231701.8847b8"]]},{"id":"85077229.64ae6","type":"debug","z":"cd173467.5fa4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":120,"wires":[]},{"id":"f4231701.8847b8","type":"switch","z":"cd173467.5fa4c8","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":420,"wires":[["b4a131d1.6a473"],["a80d7cde.2f1fc"]]},{"id":"a80d7cde.2f1fc","type":"switch","z":"cd173467.5fa4c8","name":"","property":"payload[0].val","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":520,"wires":[["9fea7290.43128"],["39ea1789.a796d8"]]},{"id":"b4a131d1.6a473","type":"template","z":"cd173467.5fa4c8","name":"Badge pas trouve","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Badge inconnu","output":"str","x":410,"y":400,"wires":[["6ed3b331.2e1a6c","acdb84c6.9e9e28"]]},{"id":"9fea7290.43128","type":"template","z":"cd173467.5fa4c8","name":"badge inactif","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Badge inactif","output":"str","x":410,"y":460,"wires":[["6ed3b331.2e1a6c","c4b79c3b.d4db8"]]},{"id":"39ea1789.a796d8","type":"template","z":"cd173467.5fa4c8","name":"badge actif","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Badge actif","output":"str","x":410,"y":520,"wires":[["6ed3b331.2e1a6c","2cbf548a.7a318c"]]},{"id":"6ed3b331.2e1a6c","type":"debug","z":"cd173467.5fa4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":300,"wires":[]},{"id":"5f11db05.a9dee4","type":"ttn uplink","z":"cd173467.5fa4c8","name":"","app":"4b060ad2.62fbf4","dev_id":"poste8","field":"","x":140,"y":220,"wires":[["7cf050e3.452fd","e30de860.829088"]]},{"id":"e30de860.829088","type":"debug","z":"cd173467.5fa4c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]},{"id":"14f22589.d5253a","type":"ttn downlink","z":"cd173467.5fa4c8","name":"","app":"4b060ad2.62fbf4","dev_id":"poste8","port":"","confirmed":false,"schedule":"replace","x":830,"y":460,"wires":[]},{"id":"acdb84c6.9e9e28","type":"function","z":"cd173467.5fa4c8","name":"","func":"msg.payload =\"02\";\nmsg.port = 8;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["14f22589.d5253a"]]},{"id":"c4b79c3b.d4db8","type":"function","z":"cd173467.5fa4c8","name":"","func":"msg.payload = \"03\";\nmsg.port = 8;    \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["14f22589.d5253a"]]},{"id":"2cbf548a.7a318c","type":"function","z":"cd173467.5fa4c8","name":"","func":"msg.payload =\"01\";\nmsg.port = 8;    \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["14f22589.d5253a"]]},{"id":"8653e30e.2dcc6","type":"switch","z":"a7560610.161838","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":540,"wires":[["eac7149e.9f9e88"],["9a3c6688.1022b8"]]},{"id":"9a3c6688.1022b8","type":"function","z":"a7560610.161838","name":"","func":"var chang\nmsg.payload ={\n    name : msg.payload[0].RFID,\n    lat : msg.payload[0].lat,\n    lon : msg.payload[0].lon,\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":570,"y":540,"wires":[["b2f89a31.ae7748","30741e6d.ad62c2","eac7149e.9f9e88"]]},{"id":"30741e6d.ad62c2","type":"worldmap","z":"a7560610.161838","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":840,"y":540,"wires":[]},{"id":"b2f89a31.ae7748","type":"debug","z":"a7560610.161838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":460,"wires":[]},{"id":"4b1c41d9.b1b81","type":"http in","z":"f624109a.791cc","name":"","url":"/api/ERS4","method":"get","upload":false,"swaggerDoc":"","x":480,"y":100,"wires":[["dd08990c.497018"]]},{"id":"dd08990c.497018","type":"function","z":"f624109a.791cc","name":"SQL SELECT","func":"msg.query=\"SELECT * FROM demo_tp order by time desc limit 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["423e2177.48f09"]]},{"id":"423e2177.48f09","type":"influxdb in","z":"f624109a.791cc","influxdb":"291f3c2b.7c6904","name":"ERS4","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":220,"wires":[["d815e48e.6e1108"]]},{"id":"d815e48e.6e1108","type":"switch","z":"f624109a.791cc","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"else"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":280,"wires":[["cd60c6ae.c93c18"],["8dcb0731.ee9428"]]},{"id":"cd60c6ae.c93c18","type":"function","z":"f624109a.791cc","name":"DATA_TRUE","func":"\nmsg.payload={\n    temperature : msg.payload[0].temperature,\n    lon : msg.payload[0].lon ,\n    lat : msg.payload[0].lat ,\n    RFID : msg.payload[0].RFID ,\n    humidity : msg.payload[0].humidity ,\n    altitude : msg.payload[0].altitude };\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["1dde9caf.70d203","ced2f0c0.a6608"]]},{"id":"8dcb0731.ee9428","type":"function","z":"f624109a.791cc","name":"DATA_FALSE","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["1dde9caf.70d203"]]},{"id":"f19e8709.808df8","type":"http in","z":"a7560610.161838","name":"","url":"/api/ERS42","method":"get","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["ea505dbf.11a08"]]},{"id":"aae490c2.24d09","type":"function","z":"a7560610.161838","name":"","func":"if(msg.index==msg.tab_RFID.length)\n{ \nreturn msg.rep;\n}","outputs":1,"noerr":0,"x":670,"y":1100,"wires":[["b7a283cd.b89c9"]]},{"id":"1dde9caf.70d203","type":"http response","z":"f624109a.791cc","name":"","statusCode":"","headers":{},"x":950,"y":280,"wires":[]},{"id":"3f8ee67a.e3e3ea","type":"inject","z":"cd173467.5fa4c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["7cf050e3.452fd"]]},{"id":"b7a283cd.b89c9","type":"http response","z":"a7560610.161838","name":"","statusCode":"","headers":{},"x":840,"y":1100,"wires":[]},{"id":"1bb3c7b2.7f62b8","type":"ttn uplink","z":"d8f99284.f2a5a","name":"Capteur interieur","app":"60748344.90604c","dev_id":"capteur_interieur","field":"","x":460,"y":120,"wires":[["8059b92d.6fd718"]]},{"id":"580769a.21c9098","type":"ttn uplink","z":"d8f99284.f2a5a","name":"Capteur Serre","app":"60748344.90604c","dev_id":"capteur_serre","field":"","x":730,"y":120,"wires":[["d861ff25.d3c16"]]},{"id":"8059b92d.6fd718","type":"function","z":"d8f99284.f2a5a","name":"","func":"msg.payload ={\n        T_int : msg.payload.temperature_1,\n        H_int: msg.payload.relative_humidity_2,\n        Lum_int : msg.payload.luminosity_4\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["3a043dcb.326432"]]},{"id":"d861ff25.d3c16","type":"function","z":"d8f99284.f2a5a","name":"","func":"msg.payload ={\n        T_serre : msg.payload.temperature_1,\n        H_serre: msg.payload.relative_humidity_5,\n        Lum_serre : msg.payload.luminosity_4\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["800248da.b8fe98"]]},{"id":"716f3fad.220bb","type":"ttn uplink","z":"d8f99284.f2a5a","name":"Device toto","app":"60748344.90604c","dev_id":"device_toto","field":"","x":140,"y":300,"wires":[["90fcd68a.331b88"]]},{"id":"c7f06bab.16af48","type":"ttn uplink","z":"d8f99284.f2a5a","name":"sensor smartcampus","app":"60748344.90604c","dev_id":"sensor_smartcampus","field":"","x":490,"y":320,"wires":[["21cb57d1.6655f8"]]},{"id":"90fcd68a.331b88","type":"function","z":"d8f99284.f2a5a","name":"","func":"msg.payload ={\n        T_toto : msg.payload.temperature_1,\n        H_toto: msg.payload.relative_humidity_2,\n        Lum_toto : msg.payload.luminosity_4\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":360,"wires":[["62e8d9b2.7afa28"]]},{"id":"21cb57d1.6655f8","type":"function","z":"d8f99284.f2a5a","name":"","func":"msg.payload ={\n        T_smartcampus : msg.payload.temperature_4,\n        H_smartcampus: msg.payload.relative_humidity_5,\n        Lum_smartcampus : msg.payload.luminosity_6\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["477d4b4b.e7d944"]]},{"id":"3a043dcb.326432","type":"influxdb out","z":"d8f99284.f2a5a","influxdb":"ac69b075.a9d24","name":"","measurement":"Sensors_int","precision":"","retentionPolicy":"","x":490,"y":240,"wires":[]},{"id":"800248da.b8fe98","type":"influxdb out","z":"d8f99284.f2a5a","influxdb":"ac69b075.a9d24","name":"","measurement":"Sensors_Serre","precision":"","retentionPolicy":"","x":780,"y":240,"wires":[]},{"id":"62e8d9b2.7afa28","type":"influxdb out","z":"d8f99284.f2a5a","influxdb":"ac69b075.a9d24","name":"","measurement":"Sensors_toto","precision":"","retentionPolicy":"","x":190,"y":420,"wires":[]},{"id":"477d4b4b.e7d944","type":"influxdb out","z":"d8f99284.f2a5a","influxdb":"ac69b075.a9d24","name":"","measurement":"Sensors_smartcampus","precision":"","retentionPolicy":"","x":540,"y":420,"wires":[]},{"id":"ecf32158.c9492","type":"ttn uplink","z":"d8f99284.f2a5a","name":"test2","app":"f9fcd79e.6f7c98","dev_id":"test2","field":"","x":150,"y":560,"wires":[["b7c7c33d.2afb9","97dee037.b36aa"]]},{"id":"11b4f985.b1a4f6","type":"influxdb out","z":"d8f99284.f2a5a","influxdb":"ac69b075.a9d24","name":"","measurement":"Test2","precision":"","retentionPolicy":"","x":570,"y":540,"wires":[]},{"id":"3a1f3ea5.562102","type":"function","z":"50ccf8e7.ffc488","name":"Process received TTN message","func":"//process new message which may contain the response\n//of multiple gateways which received the packet\nvar gatewaysarray = msg.metadata.gateways;\nvar logMsgs = [];\nvar time= gatewaysarray[0].time;\nvar gw_id = [];\nvar rssi = [];\nvar snr = [];\nvar gw_lat = [];\nvar gw_lon = [];\nvar gw_alt = [];\nvar timestamp = [];\nfor (i = 0; i < gatewaysarray.length; i++){\n\ngw_id[i] = gatewaysarray[i].gtw_id;\nrssi[i]= gatewaysarray[i].rssi;\nsnr[i] = gatewaysarray[i].snr;\ngw_lat[i] = gatewaysarray[i].latitude;\ngw_lon[i] = gatewaysarray[i].longitude;\ngw_alt[i] = gatewaysarray[i].altitude;\ntimestamp[i]= gatewaysarray[i].timestamp;\nlogMsgs[i]=({payload: {time: time,\n                           gtw_id: gw_id,\n                           rssi: rssi,\n                           snr: snr,\n                           gwy_lat: gw_lat,\n                           gwy_lon: gw_lon,\n                           gwy_alt: gw_alt,\n                           timestamp : timestamp\n                            }\n                 });\n   }\nreturn logMsgs;\n\n\n","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["c9876424.7a6ee8"]]},{"id":"c9876424.7a6ee8","type":"csv","z":"50ccf8e7.ffc488","name":"To CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,gtw_id,rssi,snr,gwy_lat,gwy_lon,gwy_alt,timestamp","skip":0,"strings":true,"x":777,"y":181,"wires":[["5e994b5a.a436f4"]]},{"id":"5e994b5a.a436f4","type":"file","z":"50ccf8e7.ffc488","name":"","filename":"GW_test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":930,"y":260,"wires":[[]]},{"id":"f32e731.49d4b9","type":"ttn uplink","z":"50ccf8e7.ffc488","name":"Lacuna_test","app":"89eee6e3.2d9ff8","dev_id":"test","field":"","x":70,"y":159,"wires":[["3a1f3ea5.562102","f341cbe.2ffbe38","5c1380b8.cee2e"]]},{"id":"f341cbe.2ffbe38","type":"debug","z":"50ccf8e7.ffc488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":926.000057220459,"y":102.99999809265137,"wires":[]},{"id":"5c1380b8.cee2e","type":"influxdb out","z":"50ccf8e7.ffc488","influxdb":"e1b9cc71.55c3b","name":"","measurement":"test","precision":"","retentionPolicy":"","x":660,"y":300,"wires":[]},{"id":"3b7706d1.65ef9a","type":"function","z":"50ccf8e7.ffc488","name":"Process received TTN message","func":"//process new message which may contain the response\n//of multiple gateways which received the packet\nvar gatewaysarray = msg.metadata.gateways;\nvar logMsgs = [];\nvar time= gatewaysarray[0].time;\nvar gw_id = [];\nvar rssi = [];\nvar snr = [];\nvar gw_lat = [];\nvar gw_lon = [];\nvar gw_alt = [];\nvar timestamp = [];\nfor (i = 0; i < gatewaysarray.length; i++){\n\ngw_id[i] = gatewaysarray[i].gtw_id;\nrssi[i]= gatewaysarray[i].rssi;\nsnr[i] = gatewaysarray[i].snr;\ngw_lat[i] = gatewaysarray[i].latitude;\ngw_lon[i] = gatewaysarray[i].longitude;\ngw_alt[i] = gatewaysarray[i].altitude;\ntimestamp[i]= gatewaysarray[i].timestamp;\nlogMsgs[i]=({payload: {time: time,\n                           gtw_id: gw_id,\n                           rssi: rssi,\n                           snr: snr,\n                           gwy_lat: gw_lat,\n                           gwy_lon: gw_lon,\n                           gwy_alt: gw_alt,\n                           timestamp : timestamp\n                            }\n                 });\n   }\nreturn logMsgs;\n\n\n","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["53b4e86a.4d0688"]]},{"id":"53b4e86a.4d0688","type":"csv","z":"50ccf8e7.ffc488","name":"To CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,gtw_id,rssi,snr,gwy_lat,gwy_lon,gwy_alt,timestamp","skip":0,"strings":true,"x":777,"y":521,"wires":[["7e0a5a2e.14f764"]]},{"id":"7e0a5a2e.14f764","type":"file","z":"50ccf8e7.ffc488","name":"","filename":"GW_test2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1007,"y":558,"wires":[[]]},{"id":"ff6493a5.b509b","type":"ttn uplink","z":"50ccf8e7.ffc488","name":"Lacuna_test","app":"89eee6e3.2d9ff8","dev_id":"test2","field":"","x":70,"y":499,"wires":[["3b7706d1.65ef9a","cc532c9a.aef8","dcbb47e.ea5a1b8"]]},{"id":"cc532c9a.aef8","type":"debug","z":"50ccf8e7.ffc488","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":926.000057220459,"y":442.99999809265137,"wires":[]},{"id":"dcbb47e.ea5a1b8","type":"influxdb out","z":"50ccf8e7.ffc488","influxdb":"e1b9cc71.55c3b","name":"","measurement":"test","precision":"","retentionPolicy":"","x":660,"y":660,"wires":[]},{"id":"b7c7c33d.2afb9","type":"function","z":"d8f99284.f2a5a","name":"","func":"var gatewaysarray = msg.metadata.gateways;\nvar rssi = [];\nvar logMsgs = [];\nvar moy;\n\nfor (i = 0; i < gatewaysarray.length; i++){\n    rssi[i]= gatewaysarray[i].rssi;}\n    moy = (rssi[0]+rssi[1])/2;\n\nmsg.payload ={\n       Accx : msg.payload.accx,\n       Accy : msg.payload.accy,\n       Accz : msg.payload.accz,\n       Humidity : msg.payload.humidity,\n       Lacuna_Sat : msg.payload.lacuna_sat,\n       Lat : msg.payload.lat,\n       Lon : msg.payload.lng,\n       Length : msg.payload.length,\n       Pressure : msg.payload.pressure,\n       Temp : msg.payload.temperature,\n       Tleage : msg.payload.tleage,\n       TTF : msg.payload.ttf,\n       Voltage : msg.payload.voltage,\n       Voltage_adc : msg.payload.voltage_adc,\n       Lacuna_sat : msg.payload.lacuna_sat,\n       RSSI : moy\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["11b4f985.b1a4f6"]]},{"id":"bde7d46c.301318","type":"http request","z":"c4965cc0.7673a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://celestrak.com/satcat/tle.php?CATNR=44109","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":140,"wires":[["5cafcf5c.41f4f"]]},{"id":"5cafcf5c.41f4f","type":"split","z":"c4965cc0.7673a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":250,"y":180,"wires":[["8cf83d13.ca251"]]},{"id":"37795dad.2af2f2","type":"tle","z":"c4965cc0.7673a","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"MP6","x":250,"y":540,"wires":[["322aecb4.c66c54","bcbe6f0c.4863","d5024a00.ef8aa8"]]},{"id":"322aecb4.c66c54","type":"debug","z":"c4965cc0.7673a","name":"Message coming out of TLE node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":540,"wires":[]},{"id":"8cf83d13.ca251","type":"switch","z":"c4965cc0.7673a","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":240,"wires":[["c5d936f6.5196f8"],["4a8f6e08.11f31"],["783fd9ef.5b4d68"],["908bb436.959798"]]},{"id":"c5d936f6.5196f8","type":"change","z":"c4965cc0.7673a","name":"","rules":[{"t":"set","p":"satid","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":300,"wires":[["f3a73982.3b8718"]]},{"id":"4a8f6e08.11f31","type":"change","z":"c4965cc0.7673a","name":"","rules":[{"t":"set","p":"tle1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":340,"wires":[["f3a73982.3b8718"]]},{"id":"783fd9ef.5b4d68","type":"change","z":"c4965cc0.7673a","name":"","rules":[{"t":"set","p":"tle2","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":380,"wires":[["f3a73982.3b8718"]]},{"id":"f3a73982.3b8718","type":"join","z":"c4965cc0.7673a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":250,"y":460,"wires":[["94b82f54.d9daf"]]},{"id":"908bb436.959798","type":"change","z":"c4965cc0.7673a","name":"set timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["f3a73982.3b8718"]]},{"id":"94b82f54.d9daf","type":"change","z":"c4965cc0.7673a","name":"put timestamp back in payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"timestamp","tot":"msg"},{"t":"delete","p":"timestamp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":500,"wires":[["37795dad.2af2f2"]]},{"id":"bcbe6f0c.4863","type":"function","z":"c4965cc0.7673a","name":"","func":"msg.payload={\n    name : msg.payload.name,\n    lat : msg.payload.position.lat,\n    lon : msg.payload.position.lon,\n    alt : msg.payload.position.alt,\n    label : \"Lastest position\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":580,"wires":[["f9931da3.31008"]]},{"id":"f9931da3.31008","type":"worldmap","z":"c4965cc0.7673a","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":440,"y":640,"wires":[]},{"id":"d5024a00.ef8aa8","type":"function","z":"c4965cc0.7673a","name":"","func":"\nmsg.payload ={\n        x : msg.payload.position.x,\n        y : msg.payload.position.y,\n        z : msg.payload.position.z,\n        lat : msg.payload.position.lat,\n        lon : msg.payload.position.lon,\n        alt : msg.payload.position.alt,\n        \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":640,"wires":[["fbf4fc12.338b4","98afa985.2f3218"]]},{"id":"afc6600.76354a","type":"influxdb out","z":"c4965cc0.7673a","influxdb":"ac69b075.a9d24","name":"","measurement":"coo","precision":"","retentionPolicy":"","x":1140,"y":720,"wires":[]},{"id":"fbf4fc12.338b4","type":"influxdb out","z":"c4965cc0.7673a","influxdb":"ac69b075.a9d24","name":"","measurement":"dist","precision":"","retentionPolicy":"","x":620,"y":720,"wires":[]},{"id":"97dee037.b36aa","type":"function","z":"d8f99284.f2a5a","name":"","func":"msg.payload ={\n        Accx : msg.payload.accx,\n        Accy : msg.payload.accy,\n        Accz : msg.payload.accz,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":600,"wires":[["bd9ec67a.2e2208"]]},{"id":"bd9ec67a.2e2208","type":"influxdb out","z":"d8f99284.f2a5a","influxdb":"ac69b075.a9d24","name":"","measurement":"dist","precision":"","retentionPolicy":"","x":560,"y":600,"wires":[]},{"id":"7e15412d.868e3","type":"complete","z":"c4965cc0.7673a","name":"","scope":["b4bfaf95.ad12b"],"uncaught":false,"x":270,"y":100,"wires":[["bde7d46c.301318"]]},{"id":"5eb3afbf.4b13c","type":"function","z":"d8f99284.f2a5a","name":"","func":"msg.payload ={\n        T_ext : msg.payload.temperature_1,\n        H_ext: msg.payload.relative_humidity_2,\n        Lum_ext : msg.payload.luminosity_4,\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":180,"wires":[["f2fa42cc.d6147"]]},{"id":"ca2d2051.e01b8","type":"ttn uplink","z":"d8f99284.f2a5a","name":"Capteur exterieur","app":"60748344.90604c","dev_id":"capteur_exterieur","field":"","x":180,"y":120,"wires":[["5eb3afbf.4b13c"]]},{"id":"f2fa42cc.d6147","type":"influxdb out","z":"d8f99284.f2a5a","influxdb":"ac69b075.a9d24","name":"","measurement":"Sensors_ext","precision":"","retentionPolicy":"","x":190,"y":240,"wires":[]},{"id":"1eab06ac.7f62e9","type":"ttn uplink","z":"c4965cc0.7673a","name":"test","app":"89eee6e3.2d9ff8","dev_id":"test","field":"","x":650,"y":100,"wires":[["c8c680e0.1e9f5","b4bfaf95.ad12b","4d4095cf.ba4e4c"]]},{"id":"c8c680e0.1e9f5","type":"function","z":"c4965cc0.7673a","name":"","func":"var gatewaysarray = msg.metadata.gateways;\nvar rssi = [];\nvar logMsgs = [];\nvar moy;\n\nfor (i = 0; i < gatewaysarray.length; i++){\n    rssi[i]= gatewaysarray[i].rssi;}\n    moy = (rssi[0]+rssi[1])/2;\n\nmsg.payload ={\n       Accx : msg.payload.accx,\n       Accy : msg.payload.accy,\n       Accz : msg.payload.accz,\n       Humidity : msg.payload.humidity,\n       Lacuna_Sat : msg.payload.lacuna_sat,\n       Lat : msg.payload.lat,\n       Lon : msg.payload.lng,\n       Length : msg.payload.length,\n       Pressure : msg.payload.pressure,\n       Temp : msg.payload.temperature,\n       Tleage : msg.payload.tleage,\n       TTF : msg.payload.ttf,\n       Voltage : msg.payload.voltage,\n       Voltage_adc : msg.payload.voltage_adc,\n       Lacuna_sat : msg.payload.lacuna_sat,\n       RSSI : moy\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["7d3f9557.27b0ac"]]},{"id":"7d3f9557.27b0ac","type":"influxdb out","z":"c4965cc0.7673a","influxdb":"ac69b075.a9d24","name":"","measurement":"Test","precision":"","retentionPolicy":"","x":1110,"y":80,"wires":[]},{"id":"b4bfaf95.ad12b","type":"function","z":"c4965cc0.7673a","name":"Complete","func":"var gatewaysarray = msg.metadata.gateways;\nvar rssi = [];\nvar logMsgs = [];\nvar moy;\n\nfor (i = 0; i < gatewaysarray.length; i++){\n    rssi[i]= gatewaysarray[i].rssi;}\n    moy = (rssi[0]+rssi[1])/2;\n\n\n\nmsg.payload ={\n        Accx : msg.payload.accx,\n        Accy : msg.payload.accy,\n        Accz : msg.payload.accz,\n        RSSI : moy\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":140,"wires":[["bfb92226.ede6b"]]},{"id":"bfb92226.ede6b","type":"influxdb out","z":"c4965cc0.7673a","influxdb":"ac69b075.a9d24","name":"","measurement":"dist","precision":"","retentionPolicy":"","x":1100,"y":140,"wires":[]},{"id":"71f5703e.138d","type":"function","z":"c4965cc0.7673a","name":"Query","func":"msg.query = \"select * from dist order by time DESC limit 2\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["5f9604f6.830cbc"]]},{"id":"5f9604f6.830cbc","type":"influxdb in","z":"c4965cc0.7673a","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":510,"y":280,"wires":[["7e3448a1.302248"]]},{"id":"7e3448a1.302248","type":"function","z":"c4965cc0.7673a","name":"Calcul Distance","func":"var x2 = msg.payload[1].Accx;\nvar y2 = msg.payload[1].Accy;\nvar z2 = msg.payload[1].Accz;\nvar x1 = msg.payload[0].x;\nvar y1 = msg.payload[0].y;\nvar z1 = msg.payload[0].z;\nmsg.payload ={\n    Distance : (x1*x1-x2*x2)+(y1*y1-y2*y2)+(z1*z1-z2*z2),\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":320,"wires":[["8c57095c.5e5478"]]},{"id":"8c57095c.5e5478","type":"calculator","z":"c4965cc0.7673a","name":"","inputMsgField":"payload.Distance","outputMsgField":"payload.Distance","operation":"sqrt","constant":"","x":510,"y":360,"wires":[["6dde5d40.0ced44","ef073096.ac7fd"]]},{"id":"6dde5d40.0ced44","type":"debug","z":"c4965cc0.7673a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":400,"wires":[]},{"id":"98a225ff.0fd3a8","type":"complete","z":"c4965cc0.7673a","name":"","scope":["d5024a00.ef8aa8"],"uncaught":false,"x":510,"y":200,"wires":[["71f5703e.138d"]]},{"id":"ced2f0c0.a6608","type":"debug","z":"f624109a.791cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":180,"wires":[]},{"id":"d4f89fbf.c4394","type":"function","z":"55276915.b6b808","name":"","func":"var m = {};\nvar labels = []\nvar data = []\nvar time = [];\nvar time2 = [];\nvar hour=[],minutes=[],second=[];\nvar analog = [] ,luminosity = [],humidity=[],temperature=[];\n\nfor(i=0;i<msg.payload.length;i++){\nvar d = new Date(msg.payload[i].time);\nluminosity[i] = parseInt(msg.payload[i].Lum_ext);\nhumidity[i] = parseInt(msg.payload[i].H_ext);\ntemperature[i] = parseInt(msg.payload[i].T_ext);\n\ntime[i] = msg.payload[i].time;\nhour[i] = d.getHours(msg.payload[i].time);\nminutes[i] = d.getMinutes(msg.payload[i].time);\nsecond[i] = d.getSeconds(msg.payload[i].time);\ntime2[i] = hour[i] +\"h\"+ minutes[i] +\"min\" + second[i] + \"s\";\n}\n    m.series = [\"Luminosity\",\"Humidity\",\"Temperature\"];\n    m.data = [luminosity,humidity,temperature];\n    m.labels = time2;\nreturn {\n    payload:[m] ,\n    topic : msg.topic\n   \n    \n};","outputs":1,"noerr":0,"x":830,"y":60,"wires":[["cc868858.646ef8"]]},{"id":"fc53b31d.74bee","type":"influxdb in","z":"55276915.b6b808","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":670,"y":60,"wires":[["d4f89fbf.c4394"]]},{"id":"ad4a6d0c.15611","type":"function","z":"55276915.b6b808","name":"","func":"msg.query =\"select * from Sensors_ext order by time DESC limit 20\" ;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["fc53b31d.74bee"]]},{"id":"43bd8fce.62c75","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":1,"width":0,"height":0,"passthru":false,"label":"Capteur_ext","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":20,"wires":[["ad4a6d0c.15611","ba96b160.013ec"]]},{"id":"a2bff448.d2d748","type":"change","z":"55276915.b6b808","name":"","rules":[{"t":"set","p":"toto","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":200,"wires":[["fbfdf74d.8db098"]]},{"id":"f234512b.74976","type":"function","z":"55276915.b6b808","name":"","func":"if(msg.payload===null){\n    msg.payload=1;\n}\nmsg.payload =msg.payload*100;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":240,"wires":[["a2bff448.d2d748"]]},{"id":"bb1b2fd7.662a6","type":"function","z":"55276915.b6b808","name":"","func":"var m = {};\nvar labels = []\nvar data = []\nvar time = [];\nvar time2 = [];\nvar hour=[],minutes=[],second=[];\nvar analog = [] ,luminosity = [],humidity=[],temperature=[];\n\nfor(i=0;i<msg.payload.length;i++){\nvar d = new Date(msg.payload[i].time);\nluminosity[i] = parseInt(msg.payload[i].Lum_int);\nhumidity[i] = parseInt(msg.payload[i].H_int);\ntemperature[i] = parseInt(msg.payload[i].T_int);\n\ntime[i] = msg.payload[i].time;\nhour[i] = d.getHours(msg.payload[i].time);\nminutes[i] = d.getMinutes(msg.payload[i].time);\nsecond[i] = d.getSeconds(msg.payload[i].time);\ntime2[i] = hour[i] +\"h\"+ minutes[i] +\"min\" + second[i] + \"s\";\n}\n    m.series = [\"Luminosity\",\"Humidity\",\"Temperature\"];\n    m.data = [luminosity,humidity,temperature];\n    m.labels = time2;\nreturn {\n    payload:[m] ,\n    topic : msg.topic\n    \n};","outputs":1,"noerr":0,"x":830,"y":180,"wires":[["cc868858.646ef8"]]},{"id":"cc1307ca.f9c208","type":"influxdb in","z":"55276915.b6b808","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":670,"y":160,"wires":[["bb1b2fd7.662a6"]]},{"id":"50678c27.d05c74","type":"function","z":"55276915.b6b808","name":"","func":"msg.query =\"select * from Sensors_int order by time DESC limit 20\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["cc1307ca.f9c208"]]},{"id":"bef6fd0.f8677","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":2,"width":0,"height":0,"passthru":false,"label":"Capteur_int","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":120,"wires":[["50678c27.d05c74","1a85bb3e.6c0385"]]},{"id":"cc868858.646ef8","type":"ui_chart","z":"55276915.b6b808","name":"","group":"cf928aa.09eed78","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":220,"wires":[[]]},{"id":"d56c29cb.e030b8","type":"function","z":"55276915.b6b808","name":"","func":"var m = {};\nvar labels = []\nvar data = []\nvar time = [];\nvar time2 = [];\nvar hour=[],minutes=[],second=[];\nvar analog = [] ,luminosity = [],humidity=[],temperature=[];\n\nfor(i=0;i<msg.payload.length;i++){\nvar d = new Date(msg.payload[i].time);\nluminosity[i] = parseInt(msg.payload[i].Lum_serre);\nhumidity[i] = parseInt(msg.payload[i].H_serre);\ntemperature[i] = parseInt(msg.payload[i].T_serre);\n\ntime[i] = msg.payload[i].time;\nhour[i] = d.getHours(msg.payload[i].time);\nminutes[i] = d.getMinutes(msg.payload[i].time);\nsecond[i] = d.getSeconds(msg.payload[i].time);\ntime2[i] = hour[i] +\"h\"+ minutes[i] +\"min\" + second[i] + \"s\";\n}\n    m.series = [\"Luminosity\",\"Humidity\",\"Temperature\"];\n    m.data = [luminosity,humidity,temperature];\n    m.labels = time2;\nreturn {\n    payload:[m] ,\n    topic : msg.topic\n    \n};","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["cc868858.646ef8"]]},{"id":"5d30839.6d77c7c","type":"influxdb in","z":"55276915.b6b808","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":670,"y":260,"wires":[["d56c29cb.e030b8"]]},{"id":"abc828f7.42fa88","type":"function","z":"55276915.b6b808","name":"","func":"msg.query =\"select * from Sensors_Serre order by time DESC limit 20\" ;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["5d30839.6d77c7c"]]},{"id":"325b84dd.d3c20c","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":3,"width":0,"height":0,"passthru":false,"label":"Capteur_Serre","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":220,"wires":[["abc828f7.42fa88","1699fe3c.910d02"]]},{"id":"6b11233f.8e08ac","type":"function","z":"55276915.b6b808","name":"","func":"var m = {};\nvar labels = []\nvar data = []\nvar time = [];\nvar time2 = [];\nvar hour=[],minutes=[],second=[];\nvar analog = [] ,luminosity = [],humidity=[],temperature=[];\n\nfor(i=0;i<msg.payload.length;i++){\nvar d = new Date(msg.payload[i].time);\nluminosity[i] = parseInt(msg.payload[i].Lum_toto);\nhumidity[i] = parseInt(msg.payload[i].H_toto);\ntemperature[i] = parseInt(msg.payload[i].T_toto);\n\ntime[i] = msg.payload[i].time;\nhour[i] = d.getHours(msg.payload[i].time);\nminutes[i] = d.getMinutes(msg.payload[i].time);\nsecond[i] = d.getSeconds(msg.payload[i].time);\ntime2[i] = hour[i] +\"h\"+ minutes[i] +\"min\" + second[i] + \"s\";\n}\n    m.series = [\"Luminosity\",\"Humidity\",\"Temperature\"];\n    m.data = [luminosity,humidity,temperature];\n    m.labels = time2;\nreturn {\n    payload:[m] ,\n    topic : msg.topic\n    \n};","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["cc868858.646ef8"]]},{"id":"234d96da.79a7aa","type":"influxdb in","z":"55276915.b6b808","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":670,"y":360,"wires":[["6b11233f.8e08ac"]]},{"id":"dece252d.469ba8","type":"function","z":"55276915.b6b808","name":"","func":"msg.query =\"select * from Sensors_toto order by time DESC limit 20\" ;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["234d96da.79a7aa"]]},{"id":"4aaa8b88.8d3004","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":4,"width":0,"height":0,"passthru":false,"label":"Capteur_toto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":320,"wires":[["dece252d.469ba8","4c9b6881.c1bba8"]]},{"id":"3ef0e30f.5b75cc","type":"function","z":"55276915.b6b808","name":"","func":"var m = {};\nvar labels = [];\nvar data = []\nvar time = [];\nvar time2 = [];\nvar hour=[],minutes=[],second=[];\nvar analog = [] ,luminosity = [],humidity=[],temperature=[];\n\nfor(i=0;i<msg.payload.length;i++){\nvar d = new Date(msg.payload[i].time);\nluminosity[i] = parseInt(msg.payload[i].Lum_smartcampus);\nhumidity[i] = parseInt(msg.payload[i].H_smartcampus);\ntemperature[i] = parseInt(msg.payload[i].T_smartcampus);\n\ntime[i] = msg.payload[i].time;\nhour[i] = d.getHours(msg.payload[i].time);\nminutes[i] = d.getMinutes(msg.payload[i].time);\nsecond[i] = d.getSeconds(msg.payload[i].time);\ntime2[i] = hour[i] +\"h\"+ minutes[i] +\"min\" + second[i] + \"s\";\n}\n    m.series = [\"Luminosity\",\"Humidity\",\"Temperature\"];\n    m.data = [luminosity,humidity,temperature];\n    m.labels = time2;\nreturn {\n    payload:[m] ,\n    topic : msg.topic\n    \n};","outputs":1,"noerr":0,"x":830,"y":460,"wires":[["cc868858.646ef8"]]},{"id":"218f733e.31a32c","type":"influxdb in","z":"55276915.b6b808","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":670,"y":460,"wires":[["3ef0e30f.5b75cc"]]},{"id":"65ce7af5.fdfc64","type":"function","z":"55276915.b6b808","name":"","func":"msg.query =\"select * from Sensors_smartcampus order by time DESC limit 20\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["218f733e.31a32c"]]},{"id":"2246defd.ea9652","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":5,"width":0,"height":0,"passthru":false,"label":"Capteur_smartcampus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":560,"y":420,"wires":[["65ce7af5.fdfc64","19f98488.dc84cb"]]},{"id":"20f4cc2a.df1954","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":7,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":810,"y":620,"wires":[["cc868858.646ef8"]]},{"id":"8babafb3.cbdad","type":"function","z":"55276915.b6b808","name":"","func":"msg.query =\"select * from dist order by time desc limit 50\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["2aee08de.c5a018"]]},{"id":"2aee08de.c5a018","type":"influxdb in","z":"55276915.b6b808","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":650,"y":560,"wires":[["385b6857.6e78f8"]]},{"id":"385b6857.6e78f8","type":"function","z":"55276915.b6b808","name":"","func":"var m = {};\nvar labels = []\nvar data = [];\nvar series = []\nvar i=0;\nvar j=0;\nvar a;\nwhile(i<msg.payload.length-1){\n    if(msg.payload[i+1].RSSI !== null && msg.payload[i].alt!==null){\n      data[j] = msg.payload[i+1].RSSI;\n      labels[j] = parseInt(msg.payload[i].alt/1000);\n      j++;\n      i++;}\nelse{ i++;}}\n\nfor(i=0;i<labels.length;i++){\n    for(j=0;j<labels.length-i-1;j++){\n        if(labels[j]>labels[j+1]){\n            a=labels[j];\n            labels[j]=labels[j+1];\n            labels[j+1]=a;\n            a=data[j];\n            data[j]=data[j+1];\n            data[j+1]=a;\n            \n        }\n    }\n}\n\n\n    m.series = 'X';\n    m.labels = labels;\n    m.data = [data];\n    m.size = '24x24';\n\nreturn {\n    payload:[m] ,\n    topic : msg.topic\n    \n};\n","outputs":1,"noerr":0,"x":810,"y":560,"wires":[["cc868858.646ef8"]]},{"id":"81fc7310.28c6b","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":6,"width":0,"height":0,"passthru":false,"label":"RFID/Elevation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":520,"y":520,"wires":[["8babafb3.cbdad"]]},{"id":"fbfdf74d.8db098","type":"debug","z":"55276915.b6b808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":140,"wires":[]},{"id":"b96f1305.aa61c","type":"ui_text","z":"55276915.b6b808","group":"cf928aa.09eed78","order":1,"width":0,"height":0,"name":"","label":"Nom Chart","format":"{{msg.text}}","layout":"row-spread","x":1240,"y":180,"wires":[]},{"id":"ba96b160.013ec","type":"function","z":"55276915.b6b808","name":"","func":"msg.text = \"Capteur_ext\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":20,"wires":[["b96f1305.aa61c"]]},{"id":"1a85bb3e.6c0385","type":"function","z":"55276915.b6b808","name":"","func":"msg.text = \"Capteur_int\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[["b96f1305.aa61c"]]},{"id":"1699fe3c.910d02","type":"function","z":"55276915.b6b808","name":"","func":"msg.text = \"Capteur_Serre\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["b96f1305.aa61c"]]},{"id":"4c9b6881.c1bba8","type":"function","z":"55276915.b6b808","name":"","func":"msg.text = \"Capteur_toto\"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["b96f1305.aa61c"]]},{"id":"19f98488.dc84cb","type":"function","z":"55276915.b6b808","name":"","func":"msg.text = \"Capteur_smartcampus\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":420,"wires":[["b96f1305.aa61c"]]},{"id":"87187e0d.bf4","type":"inject","z":"c4965cc0.7673a","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[[]]},{"id":"5a5b8b3d.163f34","type":"inject","z":"d1002e51.d30b9","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":510,"y":320,"wires":[["c40b17e7.051648"]]},{"id":"c40b17e7.051648","type":"function","z":"d1002e51.d30b9","name":"add new layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = { maxZoom: 19, attribution: '&copy; OpenStreetMap'};\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":320,"wires":[[]]},{"id":"93fadc1b.c024d","type":"worldmap","z":"d1002e51.d30b9","name":"","x":1070,"y":220,"wires":[]},{"id":"3c72ca9.69d1e36","type":"function","z":"d1002e51.d30b9","name":"USGS Quake monitor csv re-parse","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = \"earthquake\";\nmsg.payload.name = msg.payload.id;\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\t\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":460,"wires":[[]]},{"id":"60e752d.618c8ac","type":"function","z":"d1002e51.d30b9","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[[]]},{"id":"475e0c85.e751b4","type":"csv","z":"d1002e51.d30b9","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":710,"y":400,"wires":[["3c72ca9.69d1e36"]]},{"id":"25a0c6ca.bb9eea","type":"inject","z":"d1002e51.d30b9","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":510,"y":360,"wires":[["60e752d.618c8ac"]]},{"id":"d6e6a568.59d5f8","type":"http request","z":"d1002e51.d30b9","name":"","method":"GET","paytoqs":false,"url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":460,"wires":[["475e0c85.e751b4"]]},{"id":"970d42c8.ffa4b","type":"inject","z":"d1002e51.d30b9","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":false,"x":520,"y":400,"wires":[["d6e6a568.59d5f8"]]},{"id":"7d515bc4.690934","type":"function","z":"c4965cc0.7673a","name":"Compute device List","func":"msg.payload = {};\nif(msg.index<msg.toto.length)\n{\n    msg.query=\"select * from coo where lat = \" +msg.toto[msg.index].lat+ \"order by time DESC limit 1\"\n    msg.index = msg.index+1;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":460,"y":960,"wires":[["939eb3a7.3d2a6"]]},{"id":"939eb3a7.3d2a6","type":"influxdb in","z":"c4965cc0.7673a","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":650,"y":960,"wires":[["64ca4914.a6e218"]]},{"id":"64ca4914.a6e218","type":"switch","z":"c4965cc0.7673a","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1060,"wires":[["7d515bc4.690934"],["8dfebaf5.c67928"]]},{"id":"8dfebaf5.c67928","type":"function","z":"c4965cc0.7673a","name":"","func":"var iconColor;\nvar Command\nif(msg.payload[0].RSSI<=-82){\n    iconColor = \"red\";\n}\nelse if(msg.payload[0].RSSI<=-80)\n{\n    iconColor = \"orange\";\n}\nelse if(msg.payload[0].RSSI<=-78){\n    iconColor = \"purple\";\n}else {\n        iconColor = \"blue\";\n\n}\n\nmsg.payload ={\n    name : \"M6P\"+ msg.index,\n    lat : msg.payload[0].lat,\n    lon : msg.payload[0].lon,\n    label : \"\"+msg.index,\n    RSSi : msg.payload[0].RSSI,\n    iconColor : iconColor,\n    Distance : msg.payload[0].Distance,\n    layer : \"drawing\",\n    line : [[43.716372, 7.126737] , [msg.payload[0].lat,msg.payload[0].lon]]\n}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":850,"y":1060,"wires":[["7d515bc4.690934","4c12f7c6.407a78","1300a1fd.7c7a5e"]]},{"id":"b6dc387d.44fdc8","type":"inject","z":"c4965cc0.7673a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":920,"wires":[["d7be1ec8.a2eae"]]},{"id":"d7be1ec8.a2eae","type":"function","z":"c4965cc0.7673a","name":"SQL select","func":"\nmsg.query =\"select * from coo\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":920,"wires":[["7451e9cb.c775e8"]]},{"id":"7451e9cb.c775e8","type":"influxdb in","z":"c4965cc0.7673a","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":650,"y":920,"wires":[["70d5abfb.b7d3e4"]]},{"id":"70d5abfb.b7d3e4","type":"function","z":"c4965cc0.7673a","name":"","func":"msg.index=0;\nmsg.toto=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":920,"wires":[["7d515bc4.690934"]]},{"id":"701bad3b.edbef4","type":"function","z":"55276915.b6b808","name":"","func":"msg.query =\"select * from dist order by time desc limit 50\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":720,"wires":[["e8e3d0d4.244e"]]},{"id":"e8e3d0d4.244e","type":"influxdb in","z":"55276915.b6b808","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":630,"y":720,"wires":[["b3d21456.a079d8"]]},{"id":"b3d21456.a079d8","type":"function","z":"55276915.b6b808","name":"","func":"var m = {};\nvar labels = []\nvar data = [];\nvar series = []\nvar i=0;\nvar j=0;\nvar a;\nwhile(i<msg.payload.length-1){\n    if(msg.payload[i+1].RSSI !== null && msg.payload[i].alt!==null){\n      data[j] = msg.payload[i+1].RSSI;\n      labels[j] = parseInt(msg.payload[i].lat);\n      j++;\n      i++;}\nelse{ i++;}}\n\nfor(i=0;i<labels.length;i++){\n    for(j=0;j<labels.length-i-1;j++){\n        if(labels[j]>labels[j+1]){\n            a=labels[j];\n            labels[j]=labels[j+1];\n            labels[j+1]=a;\n            a=data[j];\n            data[j]=data[j+1];\n            data[j+1]=a;\n            \n        }\n    }\n}\n\n\n    m.series = 'X';\n    m.labels = labels;\n    m.data = [data];\n    m.size = '24x24';\n\nreturn {\n    payload:[m] ,\n    topic : msg.topic\n    \n};\n","outputs":1,"noerr":0,"x":790,"y":720,"wires":[["cc868858.646ef8"]]},{"id":"c7be5b39.57a5b8","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":6,"width":0,"height":0,"passthru":false,"label":"Lat/Elevation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":680,"wires":[["701bad3b.edbef4"]]},{"id":"5017dadb.a5f9d4","type":"function","z":"55276915.b6b808","name":"","func":"msg.query =\"select * from dist order by time desc limit 50\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":840,"wires":[["1d1419e3.8f1a66"]]},{"id":"1d1419e3.8f1a66","type":"influxdb in","z":"55276915.b6b808","influxdb":"ac69b075.a9d24","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":630,"y":840,"wires":[["1cd616a4.8f1019"]]},{"id":"1cd616a4.8f1019","type":"function","z":"55276915.b6b808","name":"","func":"var m = {};\nvar labels = []\nvar data = [];\nvar series = []\nvar i=0;\nvar j=0;\nvar a;\nwhile(i<msg.payload.length-1){\n    if(msg.payload[i+1].RSSI !== null && msg.payload[i].alt!==null){\n      data[j] = msg.payload[i+1].RSSI;\n      labels[j] = parseInt(msg.payload[i].lon);\n      j++;\n      i++;}\nelse{ i++;}}\n\nfor(i=0;i<labels.length;i++){\n    for(j=0;j<labels.length-i-1;j++){\n        if(labels[j]>labels[j+1]){\n            a=labels[j];\n            labels[j]=labels[j+1];\n            labels[j+1]=a;\n            a=data[j];\n            data[j]=data[j+1];\n            data[j+1]=a;\n            \n        }\n    }\n}\n\n\n    m.series = 'X';\n    m.labels = labels;\n    m.data = [data];\n    m.size = '24x24';\n\nreturn {\n    payload:[m] ,\n    topic : msg.topic\n    \n};\n","outputs":1,"noerr":0,"x":790,"y":840,"wires":[["cc868858.646ef8","b96f1305.aa61c"]]},{"id":"737740e5.f7274","type":"ui_button","z":"55276915.b6b808","name":"","group":"71d71016.b48c","order":6,"width":0,"height":0,"passthru":false,"label":"Lon/Elevation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":500,"y":800,"wires":[["5017dadb.a5f9d4"]]},{"id":"4d4095cf.ba4e4c","type":"function","z":"c4965cc0.7673a","name":"","func":"var gatewaysarray = msg.metadata.gateways;\nvar rssi = [];\nvar logMsgs = [];\nvar moy;\n\nfor (i = 0; i < gatewaysarray.length; i++){\n    rssi[i]= gatewaysarray[i].rssi;}\n    moy = (rssi[0]+rssi[1])/2;\n\n\n\nmsg.payload ={\n        RSSI : moy,\n       \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":560,"wires":[["98afa985.2f3218"]]},{"id":"98afa985.2f3218","type":"join","z":"c4965cc0.7673a","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10s","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":600,"wires":[["afc6600.76354a","c36fa5a7.515558"]]},{"id":"4c12f7c6.407a78","type":"debug","z":"c4965cc0.7673a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1200,"y":1000,"wires":[]},{"id":"1300a1fd.7c7a5e","type":"worldmap","z":"c4965cc0.7673a","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","path":"/worldmap","x":1240,"y":1080,"wires":[]},{"id":"c36fa5a7.515558","type":"debug","z":"c4965cc0.7673a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1340,"y":720,"wires":[]},{"id":"9c7fc7f7.d25318","type":"function","z":"d1002e51.d30b9","name":"","func":"msg.payload = {\"name\": \"zone1\", \"area\": [ [51.05, -0.08], [51.5, -1], [51.2, -0.047] ]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["93fadc1b.c024d","f802e97.655b218"]]},{"id":"b18078f.9ece788","type":"inject","z":"d1002e51.d30b9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":220,"wires":[["9c7fc7f7.d25318"]]},{"id":"f802e97.655b218","type":"debug","z":"d1002e51.d30b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":280,"wires":[]},{"id":"ef073096.ac7fd","type":"function","z":"c4965cc0.7673a","name":"","func":"msg.payload = msg.payload;\nmsg.complete = true;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":380,"wires":[["98afa985.2f3218"]]}]